html { box-sizing: border-box; } 
*, ::before ::after { box-sizing: inherit; }

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* BARVY
POZADÍ #FAFAFA
šedá #8B8B8B
stín #407BFF1F
primární modrá #407BFF 
*/
body {
    margin: 0;
    background-color: #FAFAFA;
    font-family: "Montserrat", sans-serif;
    color:#8B8B8B;
    font-size: 16px;
}

.intro__title {
    font-size: 28px;
    font-weight: 650;
    color:black;
}

.intro__divider {
    border: none;
    height: 2px;
    width: 60px;
    background-color: #407BFF;
}

.intro__button {
    color:white;
    font-size: 14px;
    border-radius: 20px;
    text-align: center;
}

.intro__button--first {
    background-color: #407BFF;
    width: 195px;
}

.intro__button--second {
    background-color: #8B8B8B;
    width: 220px;
}

.travel-services__title,
.delegate-services__title {
    font-size: 16px;
    font-weight: 600;
    color:black;
}

.travel-services__boxes,
.delegate-services__boxes {
    font-size: 13px;
}

.travel-services__box,
.delegate-services__box {
    background-color: white;
    border-radius: 10px;
    box-shadow: #407BFF1F 0 4px 6px;
}

/* MOBIL */
@media screen and (max-width: 640px) {
    body {
        margin: 60px 20px;
        text-align: center;
    }
    .intro__image--img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
    .intro__title {
        margin-top: 40px;
        margin-bottom: 10px;
    }
    .intro__divider {
        margin: 0 auto;
    }
    .intro__text {
        margin: 30px 0;
    }
    .intro__button {
        display: block;
        padding: 11px 0;
        margin: 0 auto;
    }
    .intro__button--first {
        margin-bottom: 10px;
    }
    .travel-services__title,
    .delegate-services__title {
        margin-top: 60px;
        margin-bottom: 15px;
    }
    .travel-services__description,
    .delegate-services__description {
        margin-top: 0;
        margin-bottom: 30px;
    }
    .travel-services__box,
    .delegate-services__box {
        display: flex;
        justify-content: left;
        align-items: center;
        margin-bottom:10px;
        }
    .travel-services__icon,
    .delegate-services__icon {
        padding:20px 25px 20px 20px;
    }
}

/* TABLET */
@media screen and (min-width: 640px) {
    body {
        margin: 60px 20px;
        text-align: center;
    }
    .intro__image--img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
    .intro__title {
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .intro__text {
        margin: 30px 110px;
    }
    .intro__buttons {
        display: flex;
        justify-content: center;
    }
    .intro__button {
        padding: 11px 0;
    }
   .intro__button--first {
        margin-right: 20px;
    } 
    .travel-services__title,
    .delegate-services__title {
        margin-top:80px;
        margin-bottom:17px;
    }
    .travel-services__description,
    .delegate-services__description {
        margin: 0 110px 40px 110px;
    }
    .travel-services__boxes,
    .delegate-services__boxes {
        display: flex;
    }
    .travel-services__box,
    .delegate-services__box {
        flex: 1 1 calc(1/3);
        padding:40px 15px 20px 15px;
    }
    .travel-services__box--middle,
    .delegate-services__box--middle {
        margin-left: 20px; 
        margin-right: 20px;
    }
} 

/* PC */
@media screen and (min-width: 1100px) {
    body {
        text-align:left;
        margin: 60px 80px;
    }
    .intro {
        display: flex;
        gap: 60px;
        align-items: center;
        margin-bottom:80px;
    }
    .intro__image {
        order: 2;
        flex: 1 0 50%;
    }
    .intro__image--img {
        max-width: 100%;
    }
    .intro__content {
        order: 1;
        flex: 1 1 50%;
    }
    .intro__divider {
        margin:0;
    }
    .intro__text {
        margin: 30px 0;
    }
    .intro__buttons {
        justify-content: left;
    }
    .travel-services,
    .delegate-services {
        display: flex;
        gap:60px;
        align-items: center;
    }
    .travel-services {
        margin-bottom:80px;
    }
    .travel-services_boxes {
        order:1;
    }
    .travel-services__content {
        order:2;
    }
    .travel-services__content,
    .delegate-services__content {
        flex: 1;
        width:430px;
    }
    .travel-services__title,
    .delegate-services__title {
        margin-top:0;
    }
    .travel-services__description,
    .delegate-services__description {
        margin:0;
    }
    .travel-services__boxes,
    .delegate-services__boxes {
        flex: 1;
        width: 550px;
        text-align:center;
    }
    .travel-services__box,
    .delegate-services__box {
        padding: 40px 15px;
    }
    .travel-services__text,
    .delegate-services__text {
        margin-top:20px;
        margin-bottom:0;
    }
}